<!-- Here I would want to have buttons/radio buttons with existing category names to click when creating a new link
entry that would pass that category_id with the other params to create new instance.
Would also want to have a button that says 'click here to add new category if your desired one is not available
and that would link_to categories#new' -->

<h1>Add New Resource</h1>

<%= form_tag("/create", method: "post") do %>
  <%= text_field_tag(:name) %>
  <%= label_tag(:name) %>
  <%= text_field_tag(:url) %>
  <%= label_tag(:url) %>
  <% @categories.each do |category| %>
    <ul>
      <li>
        <%= check_box_tag(:category_id, "#{category.id}") %>
        <%= label_tag(:category_id, "#{category.name}") %>
      </li>
    </ul>
  <% end %>
  <%= submit_tag("Submit") %>
<% end %>
